* {
    font-family: "Roboto Light", sans-serif;
    padding: 0;
    margin: 0;
}


/* MAIN LOGO */
.nav-logo-menu h1 a {
    font-size: 30px;
    color: black;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

/* DROPDOWN MENU BUTTON */
.dropbtn {
    background-color: snow;
    border-color: transparent;
}

.dropbtn img {
    width: 40px;
    height: 40px;
}

.dropdown {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f8a444;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: snow;
}

/* ORANGE BOX FIRST SLIDE*/
.first-orange-box {
    width: 330px;
    height: 200px;
    position: absolute;
    background: #e78a00;
    left: 295px;
    top: 85px;
}

.second-orange-box {
    width: 100px;
    height: 100px;
    top: 590px;
    position: absolute;
    background: #e78a00;
    left: 90px;
}

.second-orange-box-text {
    position: absolute;
    top: -10px;
    left: 8px;
    right: 10px;
    bottom: -10px;
    font-size: 80px;
    padding: 0;
    margin: 0;
    color: snow;
}

.mountain-div-1 img {
    position: absolute;
    width: 540px;
    height: 540px;
    top: 117px;
}

.third-orange-box {
    width: 800px;
    height: 450px;
    top: 150px;
    position: absolute;
    background: #e78a00;
    opacity: 0.7;
    left: 570px;
}

.third-orange-box-text-title {
    position: absolute;
    left: 56px;
    top: 15px;
    color: snow;
    font-size: 75px;
}

.third-orange-box-text-text {
    position: absolute;
    color: snow;
    font-size: 17px;
    left: 59px;
    top: 250px;
}

.button {
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    position: absolute;
    background-color: transparent;
    color: snow;
    border: 2px solid snow;
    left: 100px;
    top: 350px;
}

.button1:hover {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.next-arrow::before {
    position: absolute;
    content: " ";
    border-right: 2px solid #e78a00;
    border-top: 2px solid #e78a00;
    width: 60px;
    height: 60px;
    top: 340px;
    left: 1355px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
}

.prev-arrow::before {
    content: " ";
    position: absolute;
    border-left: 2px solid #e78a00;
    border-bottom: 2px solid #e78a00;
    width: 60px;
    height: 60px;
    top: 340px;
    left: 69px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
}

/* THIRD PART */
.tours-logo1 img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 750px;
    left: 215px;
}

.tours-logo2 img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 750px;
    left: 705px;
}

.tours-logo3 img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 750px;
    left: 1175px;
}

.tours-text p {
    position: absolute;
    top: 875px;
    font-size: 37px;
    left: 212px;
}

.tours-text2 p {
    position: absolute;
    top: 875px;
    font-size: 37px;
    left: 655px;
}

.tours-text3 p {
    position: absolute;
    top: 875px;
    font-size: 37px;
    left: 1152px;
}

.tours-text-lorem {
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    top: 940px;
    font-size: 15px;
    left: 98px;
}

.tours-text-lorem2 {
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    top: 940px;
    font-size: 15px;
    left: 585px;
}

.tours-text-lorem3 {
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    top: 940px;
    font-size: 15px;
    left: 1060px;
}

/* 4TH PART*/
.fourth-first-orange-box {
    width: 1050px;
    height: 380px;
    top: 1200px;
    position: absolute;
    background: #e78a00;
    left: 270px;
}

.fourth-first-orange-box img {
    position: absolute;
    width: 470px;
    height: 600px;
    top: 265px;
    left: 480px;
}

.winter-image img {
    position: absolute;
    width: 700px;
    height: 415px;
    top: 1100px;
    left: 320px;
}

.third-winter img {
    position: absolute;
    width: 360px;
    height: 440px;
    top: 1300px;
    left: 125px;
}

.text-over-winter-walk p {
    position: absolute;
    top: 1230px;
    word-spacing: -1px;
    font-size: 52px;
    color: snow;
    left: 700px;
}

.third-winter p {
    position: absolute;
    font-size: 43px;
    left: 290px;
    top: 1750px;
}

.vertical-orange-board {
    position: absolute;
    background: #e78a00;
    width: 11px;
    left: 265px;
    height: 345px;
    top: 1610px;
}

.text-under-vertical-orange-board {
    position: absolute;
    top: 1960px;
    left: 290px;
    text-justify: auto;
    background-color: #ffffff;
    padding-right: 90px;
    padding-top: 25px;
}

.learn-more-1 a {
    position: absolute;
    top: 2090px;
    left: 290px;
    color: #e78a00;
    text-justify: auto;
    background-color: #ffffff;
}

/*5th PART*/
.vertical-black-board{
    position: absolute;
    width: 4px;
    height: 190px;
    background-color: black;
    top: 2250px;
    left: 430px;
}
.creativity-in-touch{
    position: absolute;
    top: 2250px;
    left: 557px;
    font-size: 43px;
}
.creativity-in-touch-lorem-ipsum{
    position: absolute;
    top: 2320px;
    left: 560px;
    text-justify: auto;
}
.travel{
    position: absolute;
    font-size: 120px;
    top: 2300px;
    line-height: 115px;
    left: 150px;
    color: gray;
    opacity: 0.7;
}