* {
    font-family: "Roboto Light", sans-serif;
    padding: 0;
    margin: 0;
}


/* MAIN LOGO */
.nav-logo-menu h1 a {
    font-size: 30px;
    color: black;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

/* DROPDOWN MENU BUTTON */
.dropbtn {
    background-color: snow;
    border-color: transparent;
}

.dropbtn img {
    width: 40px;
    height: 40px;
}

.dropdown {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f8a444;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: snow;
}

/* ORANGE BOX FIRST SLIDE*/
.first-orange-box {
    width: 330px;
    height: 200px;
    position: absolute;
    background: #e78a00;
    left: 295px;
    top: 85px;
}

.second-orange-box {
    width: 100px;
    height: 100px;
    top: 590px;
    position: absolute;
    background: #e78a00;
    left: 90px;
}

.second-orange-box-text {
    position: absolute;
    top: -10px;
    left: 8px;
    right: 10px;
    bottom: -10px;
    font-size: 80px;
    padding: 0;
    margin: 0;
    color: snow;
}

.mountain-div-1 img {
    position: absolute;
    width: 540px;
    height: 540px;
    top: 117px;
}

.third-orange-box {
    width: 800px;
    height: 450px;
    top: 150px;
    position: absolute;
    background: #e78a00;
    opacity: 0.7;
    left: 570px;
}

.third-orange-box-text-title {
    position: absolute;
    left: 56px;
    top: 15px;
    color: snow;
    font-size: 75px;
}

.third-orange-box-text-text {
    position: absolute;
    color: snow;
    font-size: 17px;
    left: 59px;
    top: 250px;
}

.button {
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    position: absolute;
    background-color: transparent;
    color: snow;
    border: 2px solid snow;
    left: 100px;
    top: 350px;
}

.button1:hover {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.next-arrow::before {
    position: absolute;
    content: " ";
    border-right: 2px solid #e78a00;
    border-top: 2px solid #e78a00;
    width: 60px;
    height: 60px;
    top: 340px;
    left: 1355px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
}

.prev-arrow::before {
    content: " ";
    position: absolute;
    border-left: 2px solid #e78a00;
    border-bottom: 2px solid #e78a00;
    width: 60px;
    height: 60px;
    top: 340px;
    left: 75px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
}

/* THIRD PART */
.tours-logo1 img{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 750px;
    left: 210px;
}
.tours-logo2 img{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 750px;
    left: 700px;
}
.tours-logo3 img{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 750px;
    left: 1170px;
}